body {
  font-family: "Arial", sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  text-align: center;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

input {
  font-size: 18px;
  padding: 10px;
  margin: 10px;
  width: 200px;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  font-size: 18px;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  transition: background-color 0.3s ease;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

button:not(:disabled):hover {
  background-color: #45a049;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  font-size: 18px;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

.result-correct {
  color: green;
}

.result-incorrect {
  color: red;
}
